body {
  padding: 5em 0;
  background: #000;
  color: #E7E7E7;
}

body .ui.header {
  color: #E7E7E7;
}

body .center.aligned {
  text-align: center;
}

body .item a, body .item a:hover, body .item a:active {
  color: #FFF;
}

body .item a:hover {
  text-decoration: underline;
}

body .ui.divider {
  border-color: #0F0F0F;
}

body .ui.list {
  text-align: center;
}

body .ui.list > .item i, .ui.list > .item .content {
  display: inline !important;
  font-size: 1.2em;
}

body .facebook.icon {
  color: #E7E7E7;
}